.page-main-catalog {
  overflow: hidden;
}

.catalog {
  padding: 27px 0 24px;

  @media (min-width: $tablet-width) {
    padding: 33px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
  }
}

.catalog__container {
  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.catalog__title {
  font-family: $second-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 163px;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 166px;
  }
}

.catalog__product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 145px;
    margin-bottom: 75px;
  }
}

.catalog__product-item {
  padding: 20px 20px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #ebebeb;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 161px 37px 39px;
    background-color: #f2f2f2;
    grid-template-columns: 1fr;
  }
}

.catalog__product-img {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 11px;

    @media (min-width: $tablet-width) {
      top: auto;
      bottom: 31px;
      transform: translate(-50%, 0);
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      bottom: 43px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.catalog__product__info {
  grid-column: 1/2;
  grid-row: 2/3;
}

.catalog__product-title {
  font-family: $second-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  max-width: 76px;
  margin: 0 0 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 16px;
    text-align: center;
    max-width: 148px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 18px;
  }
}

.catalog__product-characteristics {
  font-size: 12px;
  border-collapse: collapse;
  line-height: 1.2;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__product-parameter,
.catalog__product-value {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    padding: 7px 0;
  }
}

.catalog__product-parameter {
  text-align: left;
}

.catalog__product-value {
  text-align: right;
}

.catalog__product-button {
  margin-top: 22px;
  grid-column: 1/3;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
    grid-column: 1/2;
    grid-row: 4/5;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
  }
}

.catalog__more {
  position: relative;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 78px 20px 25px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    background-color: #d3d3d3;
    height: 2px;
    width: 30px;
    top: 40px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  &::after {
    transform: translateX(-50%) rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 161px 37px 39px;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;

    &::before,
    &::after {
      top: 82px;
      height: 2px;
      width: 60px;
    }
  }


  @media (min-width: $desktop-width) {
    padding-top: 157px;

    &::before,
    &::after {
      top: 78px;
    }
  }
}

.catalog__more-title {
  font-family: $second-font;
  font-weight: 400;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    max-width: 134px;
    margin: 0 auto;
  }
}

.catalog__more-description {
  margin: 8px 0 21px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 22px auto 0;
    max-width: 200px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 24px;
  }
}

.show-more-button {
  font-family: $second-font;
  font-weight: 400;
  color: #444444;
  background-color: #f2f2f2;
  text-decoration: none;
  margin: 0;
}

.catalog-page-title {
  position: relative;
  width: min-content;
  font-family: $second-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
  margin: 0 0 32px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 78px;
    padding-left: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 81px;
  }

  &::before,
  &::after {
    content: "";
    width: 100vw;
    background-color: #68b738;
    height: 2px;
    position: absolute;
    top: 15px;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  &::before {
    display: none;
    right: 100%;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      margin-right: 40px;
    }
  }

  &::after {
    left: 100%;
    transform: translateX(26px);

    @media (min-width: $tablet-width) {
      transform: translateX(36px);
    }
  }
}
