.catalog {
  margin: 25px 20px;
}

.catalog__title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000;
}

.catalog__product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__product-title {
  font-family: "oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222;
  text-transform: uppercase;
}

.catalog__product-description {
  font-size: 12px;
  line-height: 16px;
}

.all-button{
  display: block;
  padding: 10px 109px;
  color: #fff;
  background-color: #68B738;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.show-more-button {
  color: #444;
  background-color: #F2F2F2;
  text-decoration: none;
}
