.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  font-family: $second-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding: 22px 0 24px;

  @media (min-width: $tablet-width) {
    font-family: $second-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    font-family: $second-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.main-nav__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 34px;
  }
}

.main-nav__link {
  display: block;
  text-decoration: none;
}
