.main-nav-toggle {
  position: relative;
  z-index: 2;
  display: block;
  width: 66px;
  height: 66px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: translate(-50%, -8px);
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  &::after {
    display: none;
    transform: translate(-50%, 0) rotate(-45deg);
  }

  &--opened {
    &::before {
      transform: translate(-50%, 0) rotate(45deg);
      box-shadow: none;
    }

    &::after {
      display: block;
    }

    & + .main-nav {
      display: block;
    }
  }
}

.main-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;

  @media (min-width: $tablet-width) {
    position: relative;
    background: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 34px;
    padding: 32px 0 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 0 22px;
  }

  &:first-child {
    border-top: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      margin-left: auto;
      border: none;
    }
  }
}

.main-nav__link {
  font-family: $second-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 22px 0 24px;
  display: block;

  @media (min-width: $tablet-width) {
    font-family: $second-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 0 10px;
  }

  @media (min-width: $desktop-width) {
    font-family: $second-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.main-nav__link--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid #68b738;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}
