.page-footer {
  background-color: #f2f2f2;
  padding: 41px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 59px 0 56px;
  }
}

.page-footer-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__website-name {
  display: block;
  margin-bottom: 26px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.social-networks {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 0 12px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 0 0 32px;
  }
}

.social-networks__item {
  margin: 0 17px;

  @media (min-width: $tablet-width) {
    margin: 0 12px;
  }
}

.social-networks__vk {
  width: 22px;
  height: 12px;
  fill: #666666;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 17px;
  }
}

.social-networks__inst {
  width: 16px;
  height: 16px;
  fill: #666666;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social-networks__face {
  width: 22px;
  height: 22px;
  fill: #f2f2f2;
  stroke: #666666;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.social-networks__link {

  &:hover{
    .social-networks__vk,
    .social-networks__inst {
      fill: #68b738;
    }
    .social-networks__face {
      stroke: #68b738;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #444444;
  text-decoration: none;

  &:hover {
    .htmlacademy__logo {
      fill: #68b738;
    }
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-top: 0;
  }
}

.htmlacademy__name {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  display: block;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.htmlacademy__logo {
  fill: #666666;
}
