.page-header {
  position: relative;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;

  @media (min-width: $tablet-width) {
    min-height: 112px;
  }

  @media (min-width: $desktop-width) {
    min-height: 166px;
  }
}

.page-header__logo {
  display: block;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__website-name {
  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}
