.page-footer {
  background-color: #f2f2f2;
  padding: 39px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 59px 0 56px;
  }
}

.page-footer-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__website-name {
  display: block;
  margin-bottom: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.social-networks {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.social-networks__item {
  margin: 0 13px;
}

.social-networks__vk {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social-networks__inst {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social-networks__face {
  width: 22px;
  height: 22px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-top: 0;
  }
}

.htmlacademy__name {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  display: block;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
