.present {
  position: relative;
  color: #ffffff;
  text-align: center;
  margin: 35px 0;
  background-image: url("../img/catalog/present-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(104, 183, 56, 0.85);
  padding: 65px 58px 43px 61px;
}

.present__terms {
  font-size: 16px;
  line-height: 20px;
}
