.present {
  position: relative;
  color: #ffffff;
  text-align: center;
  margin: 35px 0;
  background-image: url("../img/catalog/present-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(104, 183, 56, 0.85);
  padding: 65px 58px 43px 61px;

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    align-self: flex-end;
    margin: 0;
    margin-bottom: 15px;
  }
}

.present__terms {
  font-size: 16px;
  line-height: 20px;
}
