.selection-program {
  position: relative;
  font-family: "oswald", sans-serif;
  color: #FFFFFF;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url(../../img/seletion-program-cat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  text-align: center;
  padding: 27px 16px 20px;

  &::before {
  position:absolute;
  content: "";
  background-color: rgba(104, 183, 56, 0.85);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left:0;
  }
}

.selection-program-wrapper {
  margin: 0 auto;
}

.selection-program {
  &__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 25px;
  }

  &__slogan {
    line-height: 14px;
    margin-bottom: 29px;
    text-transform: uppercase;
  }

  &__link {
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color:#FFFFFF;
    display: block;
    padding: 7px 44px;
    background-color: rgba(104, 183, 56, 0.85);
  }
}
